</head>
<body>

  <nav class="navbar">
    <div><span class="logo">MeanPlans</span><span class="filler"></span><span class="sub-logo">Meal Planning made bearable</span></div>
    <ul class="nav-links">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/menus">Menus</a></li>
        <li><a class="link" href="/recipes">Recipes</a></li>
        <li><a href="/add-menu" class="create-button menu">Create Menu <span class="plus-sign">+</span></a></li>
        <li><a href="/add-recipe" class="create-button recipe">Create Recipe <span class="plus-sign">+</span></a></li>
        <span class="margin-right"></span>
    </ul>
  </nav>

  <div style="padding: 30px"></div>