<%- include('includes/beginning', {title: title}) %>
<link rel="stylesheet" type="text/css" href="../../public/css/error.css">
<%- include('includes/navbar') %>

<div class="container">
    <h1>404</h1>
    <p>Oops! The page you're looking for could not be found.</p>
    <p>Go back to <a href="/">the home page</a>.</p>
</div>

<%- include('includes/end') %>