<%- include('includes/beginning.ejs', {title: title}) %>
<link rel="stylesheet" type="text/css" href="../../public/css/home.css">
<%- include('includes/navbar.ejs') %>

<!-- Banner Section -->
<div class="banner">
    <div class="overlay"></div> <!-- Dark Overlay -->
    <h1>Welcome to MeanPlans!</h1>
    <p>Meal Planning for lazy ass people</p>
</div>

<!-- Card Section -->
<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
        <h2>Card Title 1</h2>
        <p>This card holds information about your website.</p>
    </div>

    <!-- Card 2 -->
    <div class="card">
        <h2>Card Title 2</h2>
        <p>Another beautiful card with important details.</p>
    </div>

    <!-- Card 3 -->
    <div class="card">
        <h2>Card Title 2</h2>
        <p>Another beautiful card with important details.</p>
    </div>
    
</div>>

<%- include('includes/end.ejs') %>