/* Banner Styles */
.banner {
    width: 100%;
    height: 400px; /* Adjust the height of your banner */
    background-image: url('../images/dishes1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    z-index: 50;
}

.banner p {
    font-size: 18px;
    z-index: 50;
}

/* Dark Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency (0.5 is 50% opaque) */
}

/* Card Container Styles */
.card-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

/* Card Styles */
.card {
    min-width: 200px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
    color: #777;
}